<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Soutraly</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Soutraly</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.76471554747-3p9dhm14lm8ka1qruonucnaduk5rpsf7</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<!-- <key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeCar</string>
		<string>MKDirectionsModeWalking</string>
		<string>MKDirectionsModeBicycle</string>
		<string>MKDirectionsModeTransit</string>
	</array> -->
	<key>NSCameraUsageDescription</key>
	<string>This app need camera access for taking photo for user profile picture.</string>
	<key>NSContactsUsageDescription</key>
	<string>Cette application a besoin d'accéder à vos contacts pour commander pour un autre</string>
	<key>NSFallDetectionUsageDescription</key>
	<string>Détection de chute pour la sécurité de l'utilisateur</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Soutraly utilise votre localisation pour vous proposer des conducteurs à proximité et suivre votre trajet.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Soutraly utilise votre localisation en arrière-plan pour suivre votre trajet en cours.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Soutraly utilise votre localisation pour vous proposer des conducteurs à proximité.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Permission required to record audio for speech recognition</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app need photo gallery access for taking photo for user profile picture.</string>
	<key>NSPrivacyAccessedAPITypes</key>
	<string>This app need location permission for tracking driver start to destination trip.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Permission required to record audio for speech recognition</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>FirebaseAppDelegateProxyEnabled</key>
    <true/>
</dict>
</plist>
